name = "cf-race-api"
main = "./build/worker.mjs"
compatibility_date = "2022-05-13"
compatibility_flags = [
    "streams_enable_constructors"
]

[build]
command = "make build"

[[d1_databases]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "cf-race-api"
database_id = "<REDACTED>"
